.App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

.empty-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  text-decoration: overline;
  color: #89b0ae;
}
