.Card {
  width: 350px;
  background-color: #eeeded;
  color: #003049;
  text-align: right;
  flex-shrink: 0;
}

.Card__main-img {
  margin: 0;
}

.Card__main-img img {
  width: 100%;
}

.Card__main-img h3 {
  padding: 1rem;
  font-size: 1.3rem;
  margin: 0;
  background-color: #555b6e;
  color: white;
}

.Card__main-img figcaption {
  padding: 1rem;
  font-size: 0.8rem;
}

.Card__description {
  background-color: #89b0ae;
  padding: 1rem;
  color: white;
  margin: 0;
  font-size: 1rem;
}

.Card__links {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.Card__mark-like {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-add {
  background-color: #e63946;
}

button {
  padding: 0;
}
