.header {
  max-width: 100vw;
  background-color: #555b6e;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a.active-link {
  color: #ffd6ba;
  text-decoration: overline;
}
