.Footer {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  order: 100;
  background-color: #ffd6ba;
  color: #555b6e;
  width: 100%;
}

.Footer a {
  color: #555b6e;
  text-decoration: overline;
}
