.search-input,
.search-sort,
.number-per-page,
.pagination {
  width: 20%;
  box-sizing: border-box;
  padding: 0.7rem;
  border: 2px solid #555b6e;
  font-size: 1.3rem;
}

.search-input {
  background: #faf9f9 url('../../assets/svg/search.svg') no-repeat center right 1rem;
  padding: 0.7rem 3rem 0.7rem 0.7rem;
}

.pagination {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  cursor: pointer;
  width: 45px;
  height: 25px;
}
